# EditorConfig: https://editorconfig.org/

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# 2 space indentation for java, xml and yml files
[*.{java,xml,yml,sh}]
indent_style = space
indent_size = 2

[*.java]
# $ = static, | = blank line
ij_java_imports_layout = $*, |, java.**, javax.**, |, org.**, | *
# no * imports
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

# Maven POM code convention
[pom.xml]
max_line_length = 205
