#Maven build result directory
/target
#IntelliJ project files
/.idea
/*.iml
out
#Eclipse project files
/.settings
/.classpath
/.project
#Other
/clover.license
/actual.txt
/expected.txt
#jEnv configuration
.java-version
/bin/
/dependency-reduced-pom.xml
/bin/
