name: CI

on: [push, pull_request]

env:
  MAVEN_ARGS: -B -V -ntp -e -Djansi.passthrough=true -Dstyle.color=always

jobs:

  java-21:

    name: Java 21 (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'
      - name: Test
        run: ./mvnw $MAVEN_ARGS verify

  java-oracle:

    name: Java ${{ matrix.java }}
    strategy:
      fail-fast: false
      matrix:
        # https://jdk.java.net/
        java: [23, 24, 25]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: oracle-actions/setup-java@v1
        with:
          website: jdk.java.net
          release: ${{ matrix.java }}
          version: latest
      - name: Test
        run: ./mvnw $MAVEN_ARGS verify

  kotlin:

    name: Kotlin ${{ matrix.kotlin }}
    strategy:
      fail-fast: false
      matrix:
        # https://kotlinlang.org/docs/releases.html#release-details
        # https://kotlinlang.org/docs/eap.html#build-details
        kotlin: [1.9.25, 2.0.21, 2.1.20-RC2]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'
      - name: Test
        run: ./mvnw $MAVEN_ARGS -Dkotlin.version=${{ matrix.kotlin }} verify

  javadoc:

    name: Javadoc
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'
      - name: Generate Javadoc
        run: ./mvnw $MAVEN_ARGS -DskipTests package javadoc:javadoc

  sonar:

    name: Sonar code analysis
    runs-on: ubuntu-latest
    if: github.repository_owner == 'assertj' && github.event_name == 'push'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'
      - name: Test with Sonar
        run: >
          ./mvnw $MAVEN_ARGS verify sonar:sonar
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.organization=assertj
          -Dsonar.projectKey=joel-costigliola_assertj-core
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
